/* Estilo para a imagem na parte superior */
.img-homeTrator {
    width: 100%;
    height: 70vh; /* Reduz a altura da imagem para 40% da altura da tela */
    object-fit: cover;
}

/* Estilo para a seção de cards de tratores na página inicial */
.card {
    
    border-radius: 10px; /* Reduz o raio da borda para torná-la menos arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 20%; /* Reduz a largura dos cartões para 25% da largura do contêiner pai */
    margin: 10px; /* Espaçamento entre os cartões */
    height: 50%;
    margin-left: 100px;
}

    .card img {
        max-width: 90%; /* Garante que a imagem se ajuste ao tamanho do cartão */
        height: auto;
        border-radius: 10px 10px 0 0; /* Reduz o raio da borda das imagens */
    }

/* Estilo para o espaço entre os cartões */
.row.justify-content-md-center {
    display: flex;
    flex-wrap: wrap; /* Permite que os cartões quebrem para a próxima linha em telas menores */
    justify-content: space-evenly;
}

.card-title {
    font-size: 25px;
    padding: 10px
}

.card-text{
    font-size: 20px;
    padding: 10px
}

.btn{
    padding: 10px;
}