/* Estilo para a página "Quem somos" */
.company-info {
    margin: 20px;
}

.company-name {
    font-size: 24px;
    margin: 20px 0;
}

.company-section {
    margin: 20px 0;
}

.section-title {
    font-size: 20px;
    margin: 10px 0;
}

.section-content {
    margin: 10px 0;
}

.company-footer {
    margin: 20px 0;
}

.footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
}
