# ASP.NET Core
bin/
obj/
Debug/
Release/
.vscode/
.vs/
*.user
*.suo
*_ReSharper*/
_ReSharper*/
*.sln.iml
[Tt]humbs.db
[Tt]est[Rr]esult*/
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Ee][Nn][Tt][Ee][Rr][Pp][Rr][Ii][Ss][Ee]/
[Ss][Dd][Bb][Ii][Nn]/
[Tt][Ee][Mm][Pp]/
[Tt][Ee][Mm][Pp][Oo]/
[Tt][Ee][Ss][Tt]/
[Tt][Ee][Ss][Tt][Rr][Ee][Ss][Uu][Ll][Tt]/
wwwroot/lib/
